.Team{
    display: flex;
        @include bckg_title;
        @include h_bckg;
        color: $colorf;
        background-image: url(img/our-chefs/imgbg-ourchefs.jpg);
        height: 800px;
        width: 100%;

    .Team__gallerie{
        display: flex;
        justify-content: center;

    }
}