footer{

    height: 600px;
    background-image: url(img/footer/img-ng-footer.jpg);
    
    .bloc1{
        display: grid;
        grid-template-columns: 15% 15% 35% 35%;
        align-items: center;
        justify-items: center;
        justify-content: center;
        gap:25px;
        font-family: $fonth4;
        color: $colorf;
        
        .about{
            display: flex;
            flex-direction: column;
            align-items: center;

            ul{
                list-style: none;

                li{
                
                    a{

                      @extend .liste;
                    }
                }
            }
        }
        

        .Facilities{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            ul{
                list-style: none;
           

                li{

                    a{
                        @extend .liste;
                }
            }
        }
    }


    .Newsletters{
            display: flex;
            flex-direction: column;

            .submit{

                .button2{
                    background-color: $colord;
                }
            }
    }

    .contact{
        ul{
            list-style: none;
       

        
    }
}
}
}
