.grille{
    H1{
        font-family: $fonth1;
        font-size: 120px;
        color: $colord;
        position: relative;
        opacity:5%;
        margin-top: 10px;
        margin-bottom: 0;


    }
H2{
    color: $colore;
    font-family: $fonth2;
    font-size: 24px;
}
H4{
    
    font-family: $fonth4;
    color: white;
    font-size: 16px;
    margin:0;

}

    .grille__gallery{
        img{
            height: 400px;
        
        }


    }
}