.offer{
    background-color: rgba(202, 187, 155, .5);

    .offer__grid{
    
display: grid;
grid-template-columns: 300px 300px;
grid-template-rows: 150px 150px 150px 150px;
align-items: center;
justify-items: center;
justify-content: center;
gap:25px;
font-family: $fonth4;
}
}