@charset "UTF-8";
.liste, footer .bloc1 a {
  text-decoration: none;
  color: #FAF6F0;
}

footer {
  height: 600px;
  background-image: url(img/footer/img-ng-footer.jpg);
}
footer p {
  font-family: "Open Sans", sans-serif;
  color: grey;
}
footer p .ref {
  color: #FAF7F0;
}
footer .bloc1 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 25px;
  font-family: "open sans";
  color: #FAF6F0;
}
footer .bloc1 a {
  color: grey;
}
footer .bloc1 .about {
  display: flex;
  flex-direction: column;
}
footer .bloc1 .about ul {
  list-style: none;
  padding: 0;
}
footer .bloc1 .Facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .bloc1 .Facilities ul {
  list-style: none;
}
footer .bloc1 .Newsletters {
  display: flex;
  flex-direction: column;
  width: 20%;
}
footer .bloc1 .Newsletters .submit .button2 {
  background-color: #C8A96A;
}
@media (max-width: 768px) {
  footer .bloc1 .Newsletter {
    display: none;
  }
}
footer .bloc1 .contact ul {
  list-style: none;
  padding: 0;
}
footer .bloc2 {
  display: flex;
  justify-content: space-between;
}
footer .bloc2 .copyright {
  display: flex;
}
footer .bloc2 .copyright .fa-light {
  color: grey;
}
footer .bloc2 .copyright img {
  height: 50px;
  width: 50px;
}
footer .bloc2 .social-media {
  width: 30vw;
}
footer .bloc2 .social-media ul {
  display: flex;
  list-style: none;
}
footer .bloc2 .social-media ul li {
  margin: 10px;
}

.Team {
  display: flex;
  display: grid;
  flex-direction: column;
  color: #FAF6F0;
  background-image: url(img/our-chefs/imgbg-ourchefs.jpg);
  background-size: cover;
}
.Team .bckg_title,
.Team .title {
  grid-area: 1/-1;
}
.Team h2 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 48px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin-bottom: 0;
  color: grey;
}
.Team h4 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.8;
  color: grey;
}
.Team h1 {
  opacity: 0.1;
  font-size: 120px;
  color: #C8A96A;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 80px;
}
.Team .Team__gallerie {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 80px;
}
.Team .Team__gallerie img {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .Team {
    display: grid;
    flex-direction: column;
    color: #FAF6F0;
    background-image: url(img/our-chefs/imgbg-ourchefs.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .Team .bckg_title,
  .Team .title {
    grid-area: 1/-1;
  }
  .Team h2 {
    text-align: center;
    padding: 50px 0 0 0;
    margin: 0;
    font-size: 48px;
    font-family: "Cinzel", serif;
    font-weight: 400;
    margin-bottom: 0;
    color: grey;
  }
  .Team h4 {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    font-weight: 100;
    opacity: 0.8;
    color: grey;
  }
  .Team h1 {
    opacity: 0.1;
    font-size: 120px;
    color: #C8A96A;
    font-weight: 400;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 80px;
  }
  .Team .Team__gallerie {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-bottom: 80px;
  }
  .Team .Team__gallerie img {
    width: auto;
    height: auto;
  }
}
.blog {
  display: grid;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog h2 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 48px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin-bottom: 0;
  color: grey;
}
.blog h4 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.8;
  color: grey;
}
.blog h1 {
  opacity: 0.1;
  font-size: 120px;
  color: #C8A96A;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 80px;
}
.blog .bckg_title,
.blog .title {
  grid-area: 1/-1;
}
.blog .blog_article {
  display: flex;
}
.blog .blog_article img {
  width: 400px;
  height: auto;
}
.blog .blog_article article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog .blog_article article p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1F1F1F;
  padding: 36px;
  margin: 0;
  font-family: "Cinzel", serif;
}
.blog .blog_article article a {
  background-color: #FAF7F0;
  color: #1F1F1F;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.blog .brand {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 768px) {
  .blog .brand {
    display: none;
  }
}

* i {
  width: 10%;
}

body {
  margin: 0;
  height: auto;
}

header {
  height: 800px;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 41%, rgba(0, 212, 255, 0) 100%), url("img/slider/img_bg_slider_home01.jpg");
  background-size: cover;
  /* Sidenav menu */
  /* Sidenav menu links */
  /* Active class */
  /* Close btn */
  /* Icône burger */
}
header .sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -250px;
  background-color: #C8A96A;
  padding-top: 60px;
  transition: left 0.5s ease;
}
header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
header .sidenav a:hover {
  color: #111;
}
header .sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header .sidenav.active {
  left: 0;
}
header .sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
header .burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #C8A96A;
  margin: 6px 0;
}
header .navbar {
  display: none; /* Masquer la barre de navigation par défaut */
}
@media (min-width: 765px) {
  header .navbar {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    font-size: 24px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  header .navbar img {
    height: 50px;
    width: auto;
  }
  header .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
  header .navbar ul li {
    list-style-type: none;
  }
  header .navbar p {
    margin-left: 20px;
  }
  header .navbar p i {
    color: #C8A96A;
  }
  header .navbar .buttonn {
    text-decoration: none;
    color: white;
    background-color: #C8A96A;
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 600;
    align-items: center;
    font-size: 20px;
  }
  header .navbar .buttonn i {
    font-size: 20px;
  }
  header .sidenav {
    display: none;
  }
  header .burger-icon span {
    display: none;
  }
}
header div.accueil {
  width: 50%;
}
header div.accueil h2 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 48px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin-bottom: 0;
  color: grey;
}
header div.accueil h4 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.8;
  color: grey;
}
header div.accueil h1 {
  opacity: 0.1;
  font-size: 120px;
  color: #C8A96A;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 80px;
}
header div.accueil h1 {
  color: #FAF6F0;
  margin: 50px;
  opacity: 80;
}
header div.accueil .card__thumb,
header div.accueil .card__content {
  grid-area: 1/-1;
}
header div.accueil img {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 30%;
  top: 25%;
}
header div.accueil .buttona {
  text-decoration: none;
  color: white;
  background-color: none;
  border: 1px grey solid;
  padding: 14px;
  border-radius: 15px;
  font-weight: 800;
  align-items: center;
  margin: 50px;
}

.cat {
  display: grid;
  flex-direction: column;
  background-image: radial-gradient(circle, rgb(75, 104, 255) 0%, rgba(200, 169, 106, 0.1) 0%), url("./img/banner/imgbgcategory.jpg");
  opacity: 80%;
  text-align: center;
  background-size: cover;
  padding: 100px;
}
.cat h2 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 48px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin-bottom: 0;
  color: grey;
}
.cat h4 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.8;
  color: grey;
}
.cat h1 {
  opacity: 0.1;
  font-size: 120px;
  color: #C8A96A;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 80px;
}
.cat .bckg_title,
.cat .title {
  grid-area: 1/-1;
}
.cat .choix {
  width: 90%;
  display: flex;
  margin: 50px;
  gap: 30px;
  justify-content: center;
}
.cat .choix .category {
  margin-top: 36px;
  background-color: white;
  padding: 24px;
  color: #C8A96A;
  font-size: 28px;
}
.cat .choix .category i {
  color: #C8A96A;
}
.cat .choix .category img {
  height: 48px;
  width: auto;
  padding-bottom: 0;
  padding-top: 16px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.gallery .ga {
  height: 150px;
  width: auto;
}
.gallery .gb {
  background-color: white;
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.gallery .gb img {
  height: 360px;
  width: auto;
  position: relative;
  top: -20%;
  margin-top: -20%;
  padding: 25px;
}
.gallery .gc {
  height: 130px;
  width: auto;
}

section.about-us {
  display: grid;
  flex-direction: column;
  margin-bottom: 80px;
}
section.about-us .bckg_title,
section.about-us .title {
  grid-area: 1/-1;
}
section.about-us h2 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 48px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin-bottom: 0;
  color: grey;
}
section.about-us h4 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.8;
  color: grey;
}
section.about-us h1 {
  opacity: 0.1;
  font-size: 120px;
  color: #C8A96A;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 80px;
}
section.about-us .aui {
  height: 180px;
  position: relative;
  left: 25rem;
  top: 2rem;
}
section.about-us .serv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 60px;
}
section.about-us .serv .a {
  display: flex;
  justify-content: center;
}
section.about-us .serv .a img {
  width: auto;
}
section.about-us .serv .b {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: "Cinzel", serif;
  font-weight: 500;
}
section.about-us .serv .b p {
  padding: 20px;
}
section.about-us .serv .b a {
  display: flex;
  background-color: #C8A96A;
  text-decoration: none;
  color: white;
  margin: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  width: 30%;
  padding: 20px;
}

section.offer {
  display: grid;
  flex-direction: column;
  background-color: #FAF7F0;
  background-image: url(./img/our-menu/imgbg-our-menu.jpg);
  background-position: right 50%;
  background-size: 30% 100%;
  background-repeat: no-repeat;
  height: 1000px;
}
section.offer h2 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 48px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin-bottom: 0;
  color: grey;
}
section.offer h4 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.8;
  color: grey;
}
section.offer h1 {
  opacity: 0.1;
  font-size: 120px;
  color: #C8A96A;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 80px;
}
section.offer .bckg_title,
section.offer .title {
  grid-area: 1/-1;
}
section.offer img {
  position: relative;
  bottom: 70%;
  z-index: 1;
}
section.offer .grid_menu {
  display: grid;
  grid-template: auto auto auto auto/auto auto;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
  padding-top: 28px;
  margin-bottom: 50px;
  z-index: 2;
}
section.offer .grid_menu div.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 6px 12px;
  gap: 50px;
  background-color: white;
  font-family: "Cinzel", serif;
  border-radius: 28px;
  font-weight: 500;
}
section.offer .grid_menu div.card:hover {
  border: dotted #C8A96A;
}
section.offer .grid_menu div.card .m1 {
  font-size: 24px;
  color: grey;
}
section.offer .grid_menu div.card .m2 {
  font-size: 18px;
  color: grey;
  opacity: 70%;
}
section.offer .grid_menu div.card .price {
  color: #C8A96A;
  font-size: 36px;
}

section.r_gallery {
  display: grid;
  flex-direction: column;
}
section.r_gallery .bckg_title,
section.r_gallery .title {
  grid-area: 1/-1;
}
section.r_gallery h2 {
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
  font-size: 48px;
  font-family: "Cinzel", serif;
  font-weight: 400;
  margin-bottom: 0;
  color: grey;
}
section.r_gallery h4 {
  text-align: center;
  margin-top: 0;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.8;
  color: grey;
}
section.r_gallery h1 {
  opacity: 0.1;
  font-size: 120px;
  color: #C8A96A;
  font-weight: 400;
  padding: 0;
  margin: 0;
  float: left;
  margin-right: 80px;
}
section.r_gallery h1, section.r_gallery h2 {
  margin-top: 50px;
}
section.r_gallery .rg_grid {
  display: flex;
}
section.r_gallery .rg_grid .rg_grid_blc1 {
  display: grid;
  justify-content: center;
  grid-gap: 28px;
  margin-right: 80px;
  padding-bottom: 24px;
}
section.r_gallery .rg_grid .rg_grid_blc1 .a {
  grid-column: col 1/span 2;
  grid-row: row 1;
}
section.r_gallery .rg_grid .rg_grid_blc1 .d {
  grid-column: col 1/span 1;
  grid-row: row 2;
}
section.r_gallery .rg_grid .rg_grid_blc1 .e {
  grid-column: col 2/span 1;
  grid-row: row 2;
}
section.r_gallery .rg_grid .rg_grid_blc2 {
  display: grid;
  justify-content: center;
  gap: 28px;
  margin-right: 80px;
  padding-bottom: 24px;
}
section.r_gallery .rg_grid .rg_grid_blc2 .f {
  grid-column: col 1/span 2;
  grid-row: row 1;
}
section.r_gallery .rg_grid .rg_grid_blc2 .b {
  grid-column: col 1/span 1;
  grid-row: row 2;
}
section.r_gallery .rg_grid .rg_grid_blc2 .c {
  grid-column: col 2/span 1;
  grid-row: row 2;
}
section.r_gallery .button {
  text-decoration: none;
  color: black;
  background-color: none;
  border: 1px rgba(128, 128, 128, 0.171) solid;
  padding: 12px;
  border-radius: 5px;
  font-weight: 800;
  align-items: center;
  text-align: center;
  margin: 28px 620px;
}

@media (max-width: 768px) {
  .rg_grid {
    display: flex;
    flex-direction: column;
  }
  .button {
    margin: 28px auto;
  }
}

/*# sourceMappingURL=style.css.map */
