.blog{
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog_article{ 
        display: flex;

        article{

            img{}

            p{
                display: block;
                color: $colore;
            }
        }
    }

    .brand{
        display: flex;

    }
}