.blog{
    @include h_bckg;
    @include bckg_title;
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog_article{ 

        display: flex;

        article{
            display: flex;
            flex-direction: column;
            align-items: center;



            p{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $colore;
                padding: 3rem;
                margin: 0;
                font-family: $fonta;
            }
            a{
                background-color: $colorg;
                color: $colore;
                text-decoration: none;
                font-family: $fontc;
            
            }
        }
    }

    .brand{
        display: flex;

    }
}