.blog{
    @include h_bckg;
    @include bckg_title;
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog_article{ 

        display: flex;

        img{
            width: 400px;
            height: auto;
        }

        article{
            display: flex;
            flex-direction: column;
            align-items: center;



            p{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $colore;
                padding: 36px;
                margin: 0;
                font-family: $fonta;
            }
            a{
                background-color: $colorg;
                color: $colore;
                text-decoration: none;
                font-family: $fontc;
            
            }
        }
    }

    .brand{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    @media (max-width: 768px) {
        .brand {
          display: none;
        }
      }
}